body {
    margin: 0;
    background: #00BFFF;
    color: #ffffff;
}
.container {
    background: #4682B4;
    width: 70%;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}
.container__title {
    font-size: 42px;
    font-weight: bold;
    padding: 20px 0;
}
.container__subtitle {
    padding-bottom: 10px;
    font-size: 24px;
}

.form__element {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form__element_submit > input {
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
    background: #5F9EA0;
    margin-bottom: 20px;
    cursor: pointer;
}

form {
    margin: 0;
}

input {
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

label {
    padding-left: 10px;
    font-size: 18px;
}

.button {
    width: 300px;
    height: 35px;  
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    background: #5F9EA0;
    line-height: 35px;
}

.button > a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

li > input {
    width: 20px;
    height: 20px;
    margin: 0;
    float: left;
}

select {
    height: 35px;
    background: #5F9EA0;
    width: 300px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
    margin: 10px 0;
}

.result {
    font-size: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.result__block {
    background: #5F9EA0;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}