{% extends "base.html" %}
{% block content %}
    <div class='container'>
        <div class='container__title'>Опрос</div>
        {% if user['authorized'] == True %}
            <div class='container__subtitle'>
                Добро пожаловать, {{user['last_name']}} {{user['first_name']}} {{user['patronymic']}}
            </div>
            <div>
                {% if continueBtn != None %}
                    <div class='button'>
                        <a href='/question/{{continueBtn+1}}'>Продолжить</a>
                    </div>
                {% else %}
                    <div class='button'>
                        <a href='/question/0'>Начать</a>
                    </div>
                {% endif %}
                {% if resultBtn== True %}
                    <div class='button'>
                        <a href='/result'>Результаты</a>
                    </div>
                {% endif %}
                <div class='button'>
                    <a href='/logout'>Выйти</a>
                </div>
            </div>
        {% else %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class='form__element'>
                    {{ form.last_name.label }}
                    {{ form.last_name(size=32) }}
                </div>
                <div class='form__element'>
                    {{ form.first_name.label }}
                    {{ form.first_name(size=32) }}
                </div>
                <div class='form__element'>
                    {{ form.patronymic.label }}
                    {{ form.patronymic(size=32) }}
                </div>
                <div class='form__element form__element_submit'>
                    {{ form.submit() }}
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
