{% extends "base.html" %}
{% block content %}
<div class='container'>
    <div class='container__subtitle'>{{quest}}</div>
    <form action="" method="post" novalidate>
        {{ question.hidden_tag() }}
        
        <div class='form__element'>
            {{ question.input }}
        </div>
        <div class='form__element form__element_submit'>
            {{ question.submit() }}
        </div>
    </form>
</div>

{% endblock %}
